@font-face {
    font-family: 'CustomFont';
    src: url('StratumNo2-Black.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'CustomFont';
}

.scoreboard {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.scoreboard-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.controls-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.score-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: justify-content 0.9s cubic-bezier(.92,.01,.66,.93); /* Updated transition property */
}

.score-wrapper-transitioning {
    position: absolute;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 1;
    }
}

#one-digit-wrapper, #two-digit-wrapper, #three-digit-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.digit {
    position: relative;
    width: 17px;
    height: 40px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    transition: all 0.9s cubic-bezier(.92,.01,.66,.93);
}

    .digit div {
        position: absolute;
        width: 100%;
        text-align: center;
        transition: transform 0.5s;
    }


.score-wrapper.one-digit .digit:nth-child(1),
.score-wrapper.one-digit .digit:nth-child(2),
.score-wrapper.two-digits .digit:nth-child(1) {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-width 0.9s cubic-bezier(.92,.01,.66,.93), opacity 0.9s cubic-bezier(.92,.01,.66,.93); /* Smooth transition */
}

.score-wrapper.two-digits .digit:nth-child(2),
.score-wrapper.three-digits .digit:nth-child(1),
.score-wrapper.three-digits .digit:nth-child(2) {
    max-width: 60px;
    opacity: 1;
    transition: max-width 0.9s cubic-bezier(.92,.01,.66,.93), opacity 0.9s cubic-bezier(.92,.01,.66,.93); /* Smooth transition */
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

    .controls button {
        padding: 10px 20px;
        font-size: 1rem;
        margin: 0 5px;
    }
